@import '../variables.css';

.scrollBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  z-index: var(--z-index-4);
}

.bar {
  position: relative;
  right: 0;
  min-height: 50px;
  width: 80%;
  background-color: #424242;
  border-radius: 3%;
  box-shadow: 1px 1px 5px 1px #000;
  cursor: move;
}
